<div class="sidebar-container h-full w-full relative">
  <div class="user-info-wrapper flex items-center justify-start gap-2 px-5 py-3">
    <%= image_tag("https://www.gravatar.com/avatar/2c7d99fe281ecd3bcd65ab915bac6dd5", class: "avatar size-10 rounded shadow-md") %>
    <div class="name-wrapper grow">
      <p class="font-semibold text-sm">John Doe</p>
      <p class="text-xs text-neutral-content">doe@example.com</p>
    </div>
    <i class="fa-solid fa-angle-down"></i>
  </div>
  <div class="menu-container px-5 py-3">
    <p class="ml-2 text-neutral">Timer</p>
    <button class="menu-option">
      <i class="fa-regular fa-clock"></i>
      <p class="font-semibold">Timer</p>
    </button>
    <div class="divider my-1"></div>
    <p class="ml-2 text-neutral">Analyze</p>
    <button class="menu-option">
      <i class="fa-solid fa-chart-column"></i>
      <p class="font-semibold">Reports</p>
    </button>
    <button class="menu-option">
      <i class="fa-solid fa-chart-pie"></i>
      <p class="font-semibold">Analytics</p>
    </button>
    <button class="menu-option">
      <i class="fa-solid fa-rocket"></i>
      <p class="font-semibold">Insights</p>
    </button>
    <div class="divider my-1"></div>
    <p class="ml-2 text-neutral">Management</p>
    <%= link_to projects_path, class: "menu-option" do %>
      <i class="fa-solid fa-chart-column"></i>
      <p class="font-semibold">Projects</p>
    <% end %>
    <button class="menu-option">
      <i class="fa-solid fa-chart-pie"></i>
      <p class="font-semibold">Teams</p>
    </button>
    <button class="menu-option">
      <i class="fa-solid fa-rocket"></i>
      <p class="font-semibold">Invoices</p>
    </button>
  </div>
  <div class="extra-options-container w-full absolute bottom-0 px-5 py-3">
    <button class="menu-option">
      <i class="fa-solid fa-gear"></i>
      <p class="font-semibold">Settings</p>
    </button>
    <button class="menu-option">
      <i class="fa-regular fa-circle-question"></i>
      <p class="font-semibold">Help Center</p>
    </button>
  </div>
</div>